*
{
    overflow: hidden;
}
.tool
{
    position: absolute;
    top: 81%;
    /* left: 35%; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* background-color: rgb(0, 0, 0); */
}
.tool >button
{
    width: 3rem;
    /* border-radius: 50%; */
    height: 3.4rem;
    border: solid white 1px ;
    margin-left: 3px;
    background-color: black;
    color: white;
}
.tool >button :hover
{
    color: red;
}
.popup
{
    position: absolute;
    top: 32%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25rem; */
    background-color: black;
    margin-right:3rem;
    height: 30vh;
    width: 240px;
}
.popup >button
{
    height: 3rem;
    background-color: black;
}
.popup_container
{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.sharepopup
{
    position: absolute;
    text-align: center;
    width: 18rem;
    height: 8rem;
    background-color: black;
    top: 10%;
   
}
.btns >button
{
    background-color: transparent;
}
.Schedule
{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.schedule_popup
{
    height: 9rem;
    width: 20rem;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 10%;
}